---
import NavBar from "../components/NavBar.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="About Qubit Flow">
    <h1>About Qubit Flow</h1>
    <p> Qubit Flow is a web/app project with a Java based Rest Api engine</p>
</Layout>

