---
import CircuitLayout from "../layouts/CircuitLayout.astro"
import Circuit from "../components/Circuit.astro";
---

<CircuitLayout title="Lets Build">
    <div class="py-4 px-4 max-w-7xl mx-auto text-base mb-8 lg:mb-16">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">
            Start Building!
        </h2>
    </div>
    <div class="flex-1">
        <Circuit />
    </div>
</CircuitLayout>