
<section class="pb-20 flex flex-col p-2 w-full mx-auto h-full">
    <div class="gap-1 grid grid-cols-3 md:grid-cols-3 lg:grid-cols-3 grid-rows-2 h-full">
        <div class="rounded-md bg-blue-400 border-2 border-black size-full flex items-center justify-center">
            <h1 class="text-2xl text-black">Gate repository</h1>
        </div>
        
        <div class="col-span-2 w-full rounded-md bg-blue-400 border-2 border-black flex items-center justify-center">
            <h1 class="text-2xl text-black">Circuit</h1>
        </div>
        
        <div class="rounded-md bg-blue-400 border-2 border-black flex items-center justify-center">
            <h1 class="text-2xl text-black">Bloch</h1>
        </div>
        
        <div class="rounded-md bg-blue-400 border-2 border-black flex items-center justify-center">
            <h1 class="text-2xl text-black">Density</h1>
        </div>

        <div class="rounded-md bg-blue-400 border-2 border-black flex items-center justify-center">
            <h1 class="text-2xl text-black">Amplitude/Prob</h1>
        </div>
    </div>
</section>
