<section class="py-12 px-4 mx-auto max-w-7xl">
    <div class="max-w-7xl mx-auto text-start mb-12">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-12">
        <div class="bg-gray-800 rounded-lg p-6 border border-gray-700">
            <h4 class="font-bold text-blue-400 mb-3"><a class="hover:underline" transition:name="`page-{href}" href="/build">Start Building</a><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-corner-down-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 6v6a3 3 0 0 0 3 3h10l-4 -4m0 8l4 -4" /></svg></h4>
            <p class="text-gray-300 text-sm">Get started and build a circuit!</p>
        </div>
        <div class="bg-gray-800 rounded-lg p-6 border border-gray-700">
            <h4 class="font-bold text-blue-400 mb-3"><a class="hover:underline" href="/about">About Project</a><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-corner-down-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 6v6a3 3 0 0 0 3 3h10l-4 -4m0 8l4 -4" /></svg></h4>
            <p class="text-gray-300 text-sm">Layer-optimized construction with undo/redo support and operation history</p>
        </div>
    </div>
</div>
</section>