<footer class="fixed bottom-0 left-0 right-0 py-4 px-4 bg-[#222] z-10">
    <div class="justify-center mx-auto max-w-7xl text-center">
      <p class="p-5 font-light text-white">
        ©2025 D4rk-h. All rights reserved.
      </p>
    </div>
</footer>